<!-- ko with: home -->
<div class="jumbotron">
    <h1>About SAPA</h1>
    <p class="lead">SAPA (SkyWest Airlines Pilot Association) is the only recognized representative body authorized to act on the behalf of the
SkyWest Airlines pilot group. SAPA shall represent the pilot group when dealing with SkyWest Airlines Management on
issues that affect the lifestyle, workplace environment, compensation and general policy of the pilot group. SAPA shall form
committees to deal with specific issues, such as hotels, discipline, schedules, safety, compensation, block times, and
communications, as well as any other issues that may arise in the future.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>My Profile</h2>
        <p data-bind="text: myHometown"></p>
        <p data-bind="text: myFirstName"></p>
        <p><a class="btn btn-default" href="#">Edit Profile</a></p>
        <p><a class="btn btn-default" href="#">Contact My SAPA Represenative</a></p>
        <p><a class="btn btn-default" href="#">My Reports</a></p>
    </div>

    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS, and JavaScript.
            It's now easier than ever before to getting started writing highly interactive web applications.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<!-- /ko -->
